# Composer
/vendor/
composer.phar
composer.lock

# PHP stubs and development helpers
/.vscode/
phpcs.xml
.editorconfig
wp-stub.php

# PHPUnit
/phpunit.xml
/phpunit.xml.dist
.phpunit.result.cache

# Node.js
/node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# IDE & System Files
.DS_Store
Thumbs.db
.idea/
*.sublime-project
*.sublime-workspace

# WordPress
*.log
.htaccess
.maintenance

# Plugin-specific
/assets/css/*.min.css
/assets/js/*.min.js 